# 05. Features Engineering

In [1]:
from IPython.display import HTML, Image
import pandas as pd
data = pd.read_csv("data/data.csv").dropna()
data.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00

## –– Sommaire

## From cat to num

In [2]:
data['state'] = data['state'].astype("category").cat.codes

In [3]:
data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,1,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,1,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,1,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,1,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,0,14,US,1283.0,1283.0,19500.00

## x

### –– x

### ––

### ––

## x

### ––

### ––

In [ ]:
#Select 5th row, or row = 4 with row starting at 0
df[4:5]

#With an iterator
df.iloc[i]


df = df.loc[(df['column'] == "value")

In [ ]:
X_cor_y = df.corr()['target'].sort_values()
X_cor_y

In [ ]:
import pandas as pd

#Convert an object to datetime
df['column'] = pd.to_datetime(df.column)

#Create date features
df['year'] = df.pickup_datetime.dt.week #Works with year, month, week, weekday, hour, minute, second...
df.drop(['column'], axis=1, inplace=True)

In [ ]:
#Colinearity is the state where two variables are highly correlated and contain similiar information about the variance within a given dataset.
#To detect colinearity among variables, we simply create a correlation matrix
import seaborn as sns

#Make sure you work only on features X
sns.heatmap(data=X.corr(), annot=True).set_title('variables correlations')

#To choose what features we should remove, we'll use Variance Inflation Factor (VIF).
#We will onky keep all features if VIF < 5. If not, we'll remove the feature with the highest VIF and then run the snippet again.

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns 
vif.round(1)