# 13. Introduction au Deep Learning

## –– Sommaire

### A. Perceptrons et Réseaux de neurones  
• Fonctionnement d'un perceptron  
• Extension aux couches de neurones  
• Fonctions d'activation  

### B. Réseaux de neurones convolutifs (CNN)  


### C. Réseaux de neurones récurrents (RNN)

Les réseaux de neurones s’inspirent du fonctionnement du cerveau humain.

Un perceptron (assimilé au neurone) va...

Le deep learning est "deep" parce que les réseaux créés sont profonds et ont de multiples couches.

On va accumuler des couches de neurones successives et observer une montée progressive de l'abstraction.

In [27]:
import pandas as pd

df = pd.read_csv("../data/data.csv")
df.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00

In [29]:
X = df
X.drop(["state"], axis=1, inplace=True)
X.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,14,US,1283.0,1283.0,19500.00

In [28]:
y = df['state']
y.head(2)

0    failed
1    failed
Name: state, dtype: object

In [30]:
X.shape, y.shape

((378661, 14), (378661,))

In [ ]:
#Split the labeled data frame into two sets to train then test the models
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

Standardiser les données est très important pour éviter

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)